.intro {
  padding: 19.5em 0 3.25em;
  position: relative;
  background: url("./images/intro_bg.jpg") 50% 0% no-repeat;
  background-size: inherit;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }
}

.slider {
  &-headline {
    font: 3.75em $font-slider-headline;
    &.margin {
      margin: 0 0 .2em;
    }
  }
  &-text {
    & p {
      font: 1em $font-refinement;
    }
    &.margin {
      margin: 0 0 3.75em;
    }
  }
  &-button {
    background: $color-bg;
    color: $dark-text !important;
    border-color: $color-bg;
    transition: .3s ease-in-out;
    &:hover {
      background: transparent;
      color: $color-text !important;
    }
  }
}

