.intro {
  padding: 19.5em 0 3.25em;
  position: relative;
  background: url("../images/intro_bg.jpg") 50% 0% no-repeat;
  background-size: inherit;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }
}

.slider-header.margin {
  margin: 0 0 1.2em;
}

.slider-text.margin {
  margin:0 0 3.8em;
}