.home-intro {
  min-height: 18.75em;
  background: url("./images/2-layers.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.post-container {
  padding: 3em 0;
  border-bottom: 2px solid #e6e9ee;
}

.avatar-container img {
  border-radius: 50%;
}

.posts-header {
  margin-bottom: 20px;
}

.posts-headline {
  margin-bottom: 10px;
}

.entry-title {
  font: 1.1em $font-slider-headline;
  margin-bottom: 1em;
}

.entry-meta {
  margin-bottom: 1em;
}

.img-container {
  margin-bottom: 2em;
}

.post-text-container {
  margin: 0 auto 2em;
  p {
    margin-bottom: 1.5em;
    font-size: .9em;
    line-height: 1.7em;
  }
}

.addtoany_share_save_container {
  float: left;
  overflow: hidden;
}

.comment-container {
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.comment-reply-link {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid $color-bg;
  background: url("./images/reply-icon.png") 50% 50% no-repeat;
  background-size: inherit;
}

.comment-meta {
  margin-bottom: 1.5em;
  .meta-link {
    font: .9em $font-slider-headline;
  }
}

.comment-text {
  p {
    line-height: 1.7em;
    margin-bottom: 2em;
  }
}

.comments-area {}